@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15985,15991,15996,30126,30124,30132");

:root {
  /* Color */
  --header-footer-color: #101010;
  --main-background: #3e3e3f;
  --product-background: #323232;
  --circle-background: #2f3033;
  --circle-background-hover: #5e5e60;
  --button-background: #222324;
  --button-background-hover: #1c1c1d;
  --button-border-hover: 1px solid #535353;

  /* Text Color */
  --text-color: #fff;
  --sub-text-color: #afb7bd;

  /* Box-shadow */
  --box-shadow-small: -4px -4px 8px rgba(134, 134, 134, 0.2),
    4px 4px 8px rgba(28, 28, 28, 0.4);
  --box-shadow-medium: 9px 9px 16px rgba(0, 0, 0, 0.44),
    -9px -9px 16px rgba(83, 83, 86, 0.8);

  /* Font-size */
  --font-size-for-price: 18px;
  --font-weigh-for-price: 700;
  --font-size-for-text: 14px;
  /* Transition */
  --transition-02: all 0.25s ease;
  --transition-03: all 0.35s ease;
  --transition-04: all 0.45s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: var(--font-size-for-text);
}

h1,
h2,
h3,
h4,
h4,
p,
span,
small {
  color: #fff;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--header-footer-color);
  width: 100%;
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}
body {
  background-color: var(--main-background);
}
.logo {
  width: auto;
  height: 70px;
}
.logo-bottom {
  margin-left: -10px;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.menu li {
  text-align: center;
  width: 120px;
}
ul li .link span {
  font-weight: 500;
}
ul li .link {
  display: inline-block;
  border-radius: 4px;
  width: 120px;
  padding: 16px 20px;
  transition: var(--transition-02);
  overflow: hidden;
}
ul li .link:hover {
  overflow: hidden;
  background-color: var(--circle-background);
  border-radius: 4px;
}

.search-login {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header-search,
.header-login {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--circle-background);
  transform: var(--transition-02);
}
.header-search:hover {
  background-color: var(--circle-background-hover);
}
.header-login:hover {
  background-color: var(--circle-background-hover);
}
.search-icon,
.login-icon {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-block {
  width: 100%;
  margin: 30px 0;
}
.facebook-icon,
.instagram-icon,
.twitter-icon {
  position: relative;
  display: inline-block;
  background-color: var(--circle-background);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.facebook-icon i,
.instagram-icon i,
.twitter-icon i {
  color: white;
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.facebook-icon:hover,
.instagram-icon:hover,
.twitter-icon:hover {
  background-color: var(--circle-background-hover);
  z-index: 1;
}
.footer {
  background-color: var(--header-footer-color);
  padding: 30px 0;
}

.footer-content {
  display: flex;
  border-bottom: #888 solid 1px;
  justify-content: space-between;
}
.footer-content div {
  line-height: 2;
}
.connect-with-us {
  color: #888;
}
h4 {
  font-size: 15px;
  font-weight: 500;
}
.footer-content p {
  font-size: 13px;
}
.footer-container {
  margin: 0 150px;
}

.footer-bottom p {
  font-size: 11px;
  color: #888;
  margin-top: 15px;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 150px;
  gap: calc((100% - 900px) / 4);
}
.category-item {
  width: 170px;
  height: 190px;
  background-color: var(--product-background);
  border-radius: 13px;
  cursor: pointer;
}
.category-item:hover {
  box-shadow: var(--box-shadow-small);
}
.category-item:hover .category-image {
  scale: 1.05;
}
.category-image {
  transition: var(--transition-02);
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.category-name {
  display: block;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
  height: 400px;
}

.carousel-image {
  object-fit: cover;
  height: 400px;
  width: auto;
}

.tranding-slide-image img {
  width: 300px;
  height: 600px;
  object-fit: cover;
}
.tranding-slide {
  width: 300px;
  height: 600px;
}
.tranding-slide-image img {
  height: 290px;
  width: auto;
  object-fit: cover;
}

.swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}
.list-title {
  margin: 50px 0;
}
.list-title img {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.slide-image img {
  object-fit: cover;
  transition: var(--transition-02);
}
.slide-image {
  width: 250px;
  height: 250px;
  margin: 15px;
}
.product-list {
  margin: 0 auto;
  padding: 30px;
}
.product-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  background-color: var(--product-background);
  width: 250px;
}
.product-link:hover img {
  scale: 1.05;
}
.product-link:hover {
  box-shadow: var(--box-shadow-medium);
}
.home-list-container {
  margin: 0 130px;
  position: relative;
}
.iphone-swiper-button-prev {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.macbook-swiper-button-prev {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.temp-tag {
  width: 100%;
  height: 100%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
}
.temp-tag i {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iphone-swiper-button-next {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.macbook-swiper-button-next {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.iphone-swiper-button-prev:hover .temp-tag,
.iphone-swiper-button-next:hover .temp-tag,
.macbook-swiper-button-next:hover .temp-tag,
.macbook-swiper-button-prev:hover .temp-tag,
.ipad-swiper-button-next:hover .temp-tag,
.ipad-swiper-button-prev:hover .temp-tag,
.watch-swiper-button-next:hover .temp-tag,
.watch-swiper-button-prev:hover .temp-tag,
.amthanh-swiper-button-next:hover .temp-tag,
.amthanh-swiper-button-prev:hover .temp-tag {
  background-color: var(--circle-background-hover);
}
.product-name {
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  line-height: 1.6;
  flex-grow: 1;
}
.product-price {
  margin: 10px;
  font-size: 19px;
  flex-grow: 0;
  margin-top: auto;
}
.line-through-price {
  flex-grow: 0;

  margin-top: auto;
  font-size: 12px;
  text-decoration: line-through;
  margin-bottom: 20px;
}
.bestseller-container {
  background-color: #161616;
  margin: 50px 150px;
  padding: 30px 0;
  border-radius: 20px;
}
.ipad-swiper-button-next {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ipad-swiper-button-prev {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.watch-swiper-button-next {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.watch-swiper-button-prev {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.amthanh-swiper-button-next {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.amthanh-swiper-button-prev {
  background-color: var(--circle-background);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.carousel-on-list {
  width: calc(100% - 300px);
  height: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.categories-row {
  margin: 0 150px;
  display: flex;
  justify-content: flex-start;
}
.categories-row .item {
  padding: 10px;
  margin-right: 30px;
  font-size: 15px;
  color: var(--sub-text-color);
  transition: var(--transition-02);
}
.categories-row .item:hover {
  color: var(--text-color);
  border-bottom: var(--text-color) solid 1px;
}
.sort-by {
  margin-left: auto;
  background: var(--main-background);
  border: none;
  color: white;
  padding: 15px 30px 15px;
  font-size: 15px;
  display: block;
}
.row-for-sort {
  margin: 0 150px;
}
.sort-by:focus {
  outline: none;
  border-color: none;
}

.product-list-container {
  margin: 20px 150px;
}
.device-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: calc((100% - 1050px) / 2);
  row-gap: 35px;
}
.device-card {
  background-color: var(--product-background);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px;
  align-items: center;
}
.card-image img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  transition: var(--transition-02);
}
.device-card:hover img {
  scale: 1.05;
}
.device-card:hover {
  box-shadow: var(--box-shadow-medium);
}
